{{> header}}

<div id="car-listings">
    <h1>Car Listings</h1>
    <div id="listings">
        {{#if areThereCars}}
            <p class="no-cars">No cars in database.</p>
        {{else}}
            {{#each cars}}
                {{> car}}
            {{/each}}
        {{/if}}
        </div>
    </div>
</div>

{{> footer}}